/*
* Styles
*/

body {
  background: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

button, input[type="submit"] {
  cursor: pointer;
}

/*
* Admin Page
*/

.admin {
  padding: 30px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

.admin header {
  background-color: #fcc100;
  padding: 10px 30px;
  right: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.admin header h2 {
  margin: 0;
  text-align: right;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

thead {
  border-bottom: 2px solid #dddddd;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

th, td {
  border: 1px solid #dddddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr td:last-child {
  overflow: visible;
  white-space: normal;
}

th {
  padding: 8px;
}

td {
  padding: 6px 8px;
}

.button {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  border-radius: 30px;
  color: #777;
  font-size: 12px;
  line-height: 30px;
  padding: 0 17px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.button:hover {
  border-color: #cccccc;
  color: #000000;
}

.button.primary {
  border-color: #4d9eff;
  color: #4d9eff;
}

.button.primary:hover {
  border-color: #0074ff;
  color: #0074ff;
}

.add, form {
  margin-bottom: 30px;
}

.edit {
  margin: 0 5px 2px 0;
}

.delete {
  margin-top: 2px;
}

.admin #content {
  margin: 50px auto;
  max-width: 700px;
}

.hidden, label {
  height: 1px;
  left: -10000px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}

input[type="text"] {
  border: 1px solid rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  font-size: 12px;
  height: 40px;
  margin: 0 10px 13px 0;
  padding: 0 20px;
  width: 41%;
}

.submit {
  margin-right: 10px;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 0;
}

.error.api {
  font-size: 16px;
}

@media (max-width: 750px) {
  .teamCell  {
    display: none
  }

  input[type="text"] {
    margin-right: 0px;
    width: 87%;
  }
}

/*
* Team Page
*/

.teamPage, .team .text {
  max-width: 800px;
}

.teamPage {
  margin: 20px auto;
}

.team header {
  background-color: #fcc100;
}

.team header .text {
  padding: 350px 0 200px 0;
  margin: 0 auto;
}

.team header h1 {
  font-size: 5em;
  margin: 0;
  -webkit-animation-delay: .3s;
}

.team header p {
  font-size: 19px;
  max-width: 615px;
  -webkit-animation-delay: .6s;
}

.meet {
  margin: 150px auto 50px auto;
}

.meet h2 {
  color: #fcc100;
  font-size: 3em;
  margin-bottom: -20px;
  padding: 0;
  -webkit-animation-delay: .3s;
}

.tictailerList {
  float: left;
  margin-bottom: 100px;
  width: 100%;
  -webkit-animation-delay: 1s;
}

.tictailer, .tictailer .overlay {
  height: 140px;
  width: 140px;
}

.tictailer .info {
  height: 120px;
  width: 120px;
}

.tictailer {
  box-shadow: 0 0 7px 1px rgba(0,0,0, 0.05) inset;
  cursor: pointer;
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
}

.tictailer .overlay, .tictailer .info {
  left: 0;
  opacity: 0;
  position: absolute;
  transition: all .2s;
  -webkit-transition: all .2s;
}

.tictailer .overlay {
  background-color: #000;
  top: 0;
}

.tictailer .info {
  bottom: 0;
  color: #ffffff;
  font-weight: bold;
  height: auto;
  line-height: 1.4em;
  padding: 10px 10px 7px 10px;
  -webkit-font-smoothing: antialiased;
}

.tictailer .teamName {
  color: #fcc100;
}

.tictailer:hover .overlay {
  opacity: .6;
}

.tictailer:hover .info {
  opacity: 1;
}

.chatContainer {
  float: left;
  margin-top: 100%;
  width: 100%;
}

.speechBubbleList {
  margin-bottom: 80px;
}

.avatar {
  border-radius: 50%;
  box-shadow: 0 0 5px 1px rgba(0,0,0, 0.05) inset;
  height: 100px;
  margin: 30px auto;
  width: 100px;
}

.fix-avatar .avatar {
  bottom: 30px;
  left: 50%;
  margin: 0 0 0 -50px;
  position: fixed;
}

.fix-avatar .chatContainer {
  margin-bottom: 160px;
}

.line {
  width: 100%;
}

.message {
  background-color: #fcc100;
  border-radius: 32px;
  color: #000;
  display: inline-block;
  line-height: 36px;
  font-size: 24px;
  padding: 14px 28px;
  margin: 0 0 14px 0;
}

.human, .input, .input .message, .human .message {
  float: right;
}

.human .message {
  background-color: #000;
  border: 0;
  color: #fff;
}

.message input[type="text"] {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  color: #ffffff;
  font-size: 24px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 0;
  width: auto;
}

.message ::-webkit-input-placeholder {
  color: #666666;
}

/*
* Animations
*/

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -webkit-animation-duration: .4s;
  animation-name: fadeInLeft;
}
